.container {
    display: flex;
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    justify-content: center;
    background-color: black;
    align-items: center;
}

#calc-background {
    align-self: center;
    background-color: white;
    aspect-ratio: 1/1.8;
    width: 50%;
    max-width: 400px;
    border-radius: 10vmin;
    margin: 20px;

}

html, body {
    color: aqua;
}


@media screen and (max-width: 768px) {
    #calc-background {
      width: 90%;
    }
  }
  